
## Lab: 12 - Data Analysis with Pandas

In [22]:


import pandas as pd
import numpy as np

In [23]:
data_stations = pd.read_csv('./station.csv' )
data_trip = pd.read_csv('./trip.csv',error_bad_lines=False )
data_weather = pd.read_csv('./weather.csv')

data_trip

/home/rihan/401/panda/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286852,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286853,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286854,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

## 1 - What is the average trip duration for a borrowed bicycle?

In [24]:

average_trip=data_trip['tripduration'].mean()
average_trip

1178.2956753399776

## 2 - Whatâ€™s the most common age of a bicycle-sharer?

In [25]:
most_common_age=data_trip['birthyear'].mode()[0]
most_common_age = 2021-most_common_age 
most_common_age

34.0

## 3 - Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [33]:
data_weather["month"]=pd.DatetimeIndex(data_weather["Date"]).month
data_weather["year"]=pd.DatetimeIndex(data_weather["Date"]).year
avg_precipitation_month=data_weather[['Precipitation_In',"month",'year']].groupby(['year','month']).mean()
median_preciption=data_weather[['Precipitation_In',"month",'year']].groupby(['year','month']).median()
avg_precipitation_month, median_preciption


# avg_precipitation_month

(            Precipitation_In
 year month
 2014 10             0.300526
      11             0.141667
      12             0.145161
 2015 1              0.070645
      2              0.163214
      3              0.135161
      4              0.056667
      5              0.014194
      6              0.005667
      7              0.008710
      8              0.035484
      9              0.041000
      10             0.120645
      11             0.234000
      12             0.327419
 2016 1              0.216452
      2              0.173448
      3              0.178710
      4              0.046000
      5              0.010645
      6              0.055333
      7              0.015484
      8              0.000968,
             Precipitation_In
 year month
 2014 10                0.140
      11                0.010
      12                0.010
 2015 1                 0.010
      2                 0.025
      3                 0.000
      4                 0.000
      5                 0.000
      6                 0.000
      7                 0.000
      8                 0.000
      9                 0.000
      10                0.010
      11                0.065
      12                0.120
 2016 1                 0.070
      2                 0.080
      3                 0.060
      4                 0.000
      5                 0.000
      6                 0.000
      7                 0.000
      8                 0.000)

## 4 - Whatâ€™s the average number of bikes at a given bike station

In [50]:
median_precipitation =data_stations["install_dockcount"].mean()
median_precipitation

17.586206896551722

## 5 - When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know

In [57]:
date=data_stations[['modification_date','current_dockcount','install_dockcount']].dropna()
avareg_bike=date['current_dockcount'].sum() - date['install_dockcount'].sum()
print(avareg_bike)
print('it will lose')

-64
it will lose


it is most likely to lose bikes, because the modified mean is less than the previous mean

## 6 - Come up with 3 more questions that can be answered with this data set.

## 1) what is the gender for trip_id=433 ?Â¶

In [29]:
gender = data_trip[data_trip["trip_id"]==433]["gender"]
gender

2        Female
50794    Female
Name: gender, dtype: object

## 2) in when day recorded most temperature in it ?

In [30]:
max1=data_weather["Date"].max()
max1

'9/9/2015'

## 3) what is the names of stations where current_dockcount =24 ?

In [31]:
name= data_stations[data_stations["current_dockcount"]==24]["name"]
name

22    Children's Hospital / Sandpoint Way NE & 40th ...
52                      Pier 69 / Alaskan Way & Clay St
Name: name, dtype: object


#  User Acceptance Tests

In [69]:

def test ():
    
    def assert_equal(actual,expected):
       
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(average_trip, 1178.2956753399776)
    assert_equal(most_common_age, 34.0)
    assert_equal(median_precipitation, 17.586206896551722)
    assert_equal(avareg_bike, -64) 
    assert_equal(max1,'9/9/2015')
    print("Success!!!")
        
test()

Success!!!